-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: digit
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `auth_group` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `group_id` int(11) NOT NULL,
  `permission_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `auth_permission` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int(11) NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=93 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user`
--

DROP TABLE IF EXISTS `auth_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `auth_user` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) NOT NULL,
  `first_name` varchar(150) NOT NULL,
  `last_name` varchar(150) NOT NULL,
  `email` varchar(254) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=44 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user`
--

LOCK TABLES `auth_user` WRITE;
/*!40000 ALTER TABLE `auth_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_groups`
--

DROP TABLE IF EXISTS `auth_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `auth_user_groups` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `group_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_groups_user_id_group_id_94350c0c_uniq` (`user_id`,`group_id`),
  KEY `auth_user_groups_group_id_97559544_fk_auth_group_id` (`group_id`),
  CONSTRAINT `auth_user_groups_group_id_97559544_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `auth_user_groups_user_id_6a12ed8b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_groups`
--

LOCK TABLES `auth_user_groups` WRITE;
/*!40000 ALTER TABLE `auth_user_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_user_permissions`
--

DROP TABLE IF EXISTS `auth_user_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `auth_user_user_permissions` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `permission_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_user_permissions_user_id_permission_id_14a6b632_uniq` (`user_id`,`permission_id`),
  KEY `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_user_permissions`
--

LOCK TABLES `auth_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `auth_user_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `django_admin_log` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext DEFAULT NULL,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint(5) unsigned NOT NULL,
  `change_message` longtext NOT NULL,
  `content_type_id` int(11) DEFAULT NULL,
  `user_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_auth_user_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `django_content_type` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `django_migrations` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=38 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `website_aboutsection`
--

DROP TABLE IF EXISTS `website_aboutsection`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `website_aboutsection` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `kicker` varchar(120) NOT NULL,
  `title` varchar(255) NOT NULL,
  `description` longtext NOT NULL,
  `feature_title` varchar(255) NOT NULL,
  `feature_text` longtext NOT NULL,
  `button_text` varchar(120) NOT NULL,
  `button_url` varchar(500) NOT NULL,
  `circle_right_text` varchar(120) NOT NULL,
  `circle_left_text` varchar(120) NOT NULL,
  `top_image` varchar(100) DEFAULT NULL,
  `bottom_image` varchar(100) DEFAULT NULL,
  `sort_order` int(10) unsigned NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `created_date` datetime(6) NOT NULL,
  `update_date` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `website_aboutsection`
--

LOCK TABLES `website_aboutsection` WRITE;
/*!40000 ALTER TABLE `website_aboutsection` DISABLE KEYS */;
/*!40000 ALTER TABLE `website_aboutsection` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `website_advisorylike`
--

DROP TABLE IF EXISTS `website_advisorylike`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `website_advisorylike` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `created_date` datetime(6) NOT NULL,
  `advisory_service_id` bigint(20) NOT NULL,
  `user_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_advisory_like` (`advisory_service_id`,`user_id`),
  KEY `website_advisorylike_user_id_e994542f_fk_auth_user_id` (`user_id`),
  CONSTRAINT `website_advisorylike_advisory_service_id_486df9c3_fk_website_a` FOREIGN KEY (`advisory_service_id`) REFERENCES `website_advisoryservice` (`id`),
  CONSTRAINT `website_advisorylike_user_id_e994542f_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `website_advisorylike`
--

LOCK TABLES `website_advisorylike` WRITE;
/*!40000 ALTER TABLE `website_advisorylike` DISABLE KEYS */;
INSERT INTO `website_advisorylike` VALUES (7,'2026-08-21 09:31:14.329754',102,5);
/*!40000 ALTER TABLE `website_advisorylike` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `website_advisorypriceterm`
--

DROP TABLE IF EXISTS `website_advisorypriceterm`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `website_advisorypriceterm` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `key` varchar(50) NOT NULL,
  `name` varchar(255) NOT NULL,
  `sort_order` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `key` (`key`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `website_advisorypriceterm`
--

LOCK TABLES `website_advisorypriceterm` WRITE;
/*!40000 ALTER TABLE `website_advisorypriceterm` DISABLE KEYS */;
INSERT INTO `website_advisorypriceterm` VALUES (1,'fixed','╨ó╙⌐╤ü╨╗╙⌐╙⌐╤Ç',1),(2,'monthly','╨í╨░╤Ç╨░╨░╤Ç',2),(3,'hourly','╨ª╨░╨│╨░╨░╤Ç',3),(4,'custom','╨ó╨╛╤à╨╕╤Ç╨╛╨╗╤å╨╛╨╜╨╛',4);
/*!40000 ALTER TABLE `website_advisorypriceterm` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `website_advisoryrating`
--

DROP TABLE IF EXISTS `website_advisoryrating`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `website_advisoryrating` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `score` smallint(5) unsigned NOT NULL,
  `created_date` datetime(6) NOT NULL,
  `update_date` datetime(6) NOT NULL,
  `advisory_service_id` bigint(20) NOT NULL,
  `user_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_advisory_rating` (`advisory_service_id`,`user_id`),
  KEY `website_advisoryrating_user_id_cda6879b_fk_auth_user_id` (`user_id`),
  CONSTRAINT `website_advisoryrati_advisory_service_id_dc170a7c_fk_website_a` FOREIGN KEY (`advisory_service_id`) REFERENCES `website_advisoryservice` (`id`),
  CONSTRAINT `website_advisoryrating_user_id_cda6879b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `website_advisoryrating`
--

LOCK TABLES `website_advisoryrating` WRITE;
/*!40000 ALTER TABLE `website_advisoryrating` DISABLE KEYS */;
INSERT INTO `website_advisoryrating` VALUES (1,3,'2026-08-05 02:07:45.586107','2026-08-05 02:07:48.657306',96,5);
/*!40000 ALTER TABLE `website_advisoryrating` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `website_advisoryservice`
--

DROP TABLE IF EXISTS `website_advisoryservice`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `website_advisoryservice` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `introduction` longtext NOT NULL,
  `description` longtext NOT NULL,
  `is_featured` tinyint(1) NOT NULL,
  `created_date` datetime(6) NOT NULL,
  `update_date` datetime(6) NOT NULL,
  `company_id` bigint(20) NOT NULL,
  `created_by_id` int(11) NOT NULL,
  `client_organizations` longtext NOT NULL DEFAULT _utf8'',
  `price` decimal(14,2) NOT NULL,
  `service_start_year` smallint(5) unsigned NOT NULL,
  `price_terms_id` bigint(20) NOT NULL,
  `service_type_id` bigint(20) NOT NULL,
  `is_approved` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `website_advisoryserv_company_id_a325b0e2_fk_website_c` (`company_id`),
  KEY `website_advisoryservice_created_by_id_d503d645_fk_auth_user_id` (`created_by_id`),
  KEY `website_advisoryserv_price_terms_id_77d721f5_fk_website_a` (`price_terms_id`),
  KEY `website_advisoryserv_service_type_id_8b9b5d47_fk_website_a` (`service_type_id`),
  CONSTRAINT `website_advisoryserv_company_id_a325b0e2_fk_website_c` FOREIGN KEY (`company_id`) REFERENCES `website_customer` (`id`),
  CONSTRAINT `website_advisoryserv_price_terms_id_77d721f5_fk_website_a` FOREIGN KEY (`price_terms_id`) REFERENCES `website_advisorypriceterm` (`id`),
  CONSTRAINT `website_advisoryserv_service_type_id_8b9b5d47_fk_website_a` FOREIGN KEY (`service_type_id`) REFERENCES `website_advisoryservicetype` (`id`),
  CONSTRAINT `website_advisoryservice_created_by_id_d503d645_fk_auth_user_id` FOREIGN KEY (`created_by_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=103 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `website_advisoryservice`
--

LOCK TABLES `website_advisoryservice` WRITE;
/*!40000 ALTER TABLE `website_advisoryservice` DISABLE KEYS */;
/*!40000 ALTER TABLE `website_advisoryservice` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `website_advisoryservice_advisory_sectors`
--

DROP TABLE IF EXISTS `website_advisoryservice_advisory_sectors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `website_advisoryservice_advisory_sectors` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `advisoryservice_id` bigint(20) NOT NULL,
  `category_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `website_advisoryservice__advisoryservice_id_categ_45fb5fd4_uniq` (`advisoryservice_id`,`category_id`),
  KEY `website_advisoryserv_category_id_d0b643ab_fk_website_c` (`category_id`),
  CONSTRAINT `website_advisoryserv_advisoryservice_id_94bc48af_fk_website_a` FOREIGN KEY (`advisoryservice_id`) REFERENCES `website_advisoryservice` (`id`),
  CONSTRAINT `website_advisoryserv_category_id_d0b643ab_fk_website_c` FOREIGN KEY (`category_id`) REFERENCES `website_category` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=557 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `website_advisoryservice_advisory_sectors`
--

LOCK TABLES `website_advisoryservice_advisory_sectors` WRITE;
/*!40000 ALTER TABLE `website_advisoryservice_advisory_sectors` DISABLE KEYS */;
/*!40000 ALTER TABLE `website_advisoryservice_advisory_sectors` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `website_advisoryserviceimage`
--

DROP TABLE IF EXISTS `website_advisoryserviceimage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `website_advisoryserviceimage` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `image` varchar(100) NOT NULL,
  `sort_order` int(10) unsigned NOT NULL,
  `created_date` datetime(6) NOT NULL,
  `advisory_service_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `website_advisoryserv_advisory_service_id_c72e2f97_fk_website_a` (`advisory_service_id`),
  CONSTRAINT `website_advisoryserv_advisory_service_id_c72e2f97_fk_website_a` FOREIGN KEY (`advisory_service_id`) REFERENCES `website_advisoryservice` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=311 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `website_advisoryserviceimage`
--

LOCK TABLES `website_advisoryserviceimage` WRITE;
/*!40000 ALTER TABLE `website_advisoryserviceimage` DISABLE KEYS */;
/*!40000 ALTER TABLE `website_advisoryserviceimage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `website_advisoryservicetype`
--

DROP TABLE IF EXISTS `website_advisoryservicetype`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `website_advisoryservicetype` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `key` varchar(50) NOT NULL,
  `name` varchar(255) NOT NULL,
  `sort_order` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `key` (`key`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `website_advisoryservicetype`
--

LOCK TABLES `website_advisoryservicetype` WRITE;
/*!40000 ALTER TABLE `website_advisoryservicetype` DISABLE KEYS */;
INSERT INTO `website_advisoryservicetype` VALUES (1,'management','╨ú╨┤╨╕╤Ç╨┤╨╗╨░╨│╤ï╨╜ ╨╖╙⌐╨▓╨╗╙⌐╤à',1),(2,'finance','╨í╨░╨╜╤à╥»╥»╨│╨╕╨╣╨╜ ╨╖╙⌐╨▓╨╗╙⌐╤à',2),(3,'marketing','╨£╨░╤Ç╨║╨╡╤é╨╕╨╜╨│╨╕╨╣╨╜ ╨╖╙⌐╨▓╨╗╙⌐╤à',3),(4,'hr','╨Ñ╥»╨╜╨╕╨╣ ╨╜╙⌐╙⌐╤å╨╕╨╣╨╜ ╨╖╙⌐╨▓╨╗╙⌐╤à',4),(5,'operations','╥«╨╣╨╗ ╨░╨╢╨╕╨╗╨╗╨░╨│╨░╨░╨╜╤ï ╨╖╙⌐╨▓╨╗╙⌐╤à',5),(6,'digital','╨ö╨╕╨╢╨╕╤é╨░╨╗ ╤ê╨╕╨╗╨╢╨╕╨╗╤é╨╕╨╣╨╜ ╨╖╙⌐╨▓╨╗╙⌐╤à',6);
/*!40000 ALTER TABLE `website_advisoryservicetype` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `website_article`
--

DROP TABLE IF EXISTS `website_article`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `website_article` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `image` varchar(100) NOT NULL,
  `published_date` date NOT NULL,
  `description` longtext NOT NULL,
  `is_featured` tinyint(1) NOT NULL,
  `created_date` datetime(6) NOT NULL,
  `update_date` datetime(6) NOT NULL,
  `article_type_id` bigint(20) NOT NULL,
  `created_by_id` int(11) NOT NULL,
  `organization_id` bigint(20) NOT NULL,
  `is_approved` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `website_article_article_type_id_bf5c36ab_fk_website_category_id` (`article_type_id`),
  KEY `website_article_created_by_id_ec0608f7_fk_auth_user_id` (`created_by_id`),
  KEY `website_article_organization_id_cd0b442c_fk_website_customer_id` (`organization_id`),
  CONSTRAINT `website_article_article_type_id_bf5c36ab_fk_website_category_id` FOREIGN KEY (`article_type_id`) REFERENCES `website_category` (`id`),
  CONSTRAINT `website_article_created_by_id_ec0608f7_fk_auth_user_id` FOREIGN KEY (`created_by_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `website_article_organization_id_cd0b442c_fk_website_customer_id` FOREIGN KEY (`organization_id`) REFERENCES `website_customer` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=123 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `website_article`
--

LOCK TABLES `website_article` WRITE;
/*!40000 ALTER TABLE `website_article` DISABLE KEYS */;
/*!40000 ALTER TABLE `website_article` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `website_category`
--

DROP TABLE IF EXISTS `website_category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `website_category` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `type` varchar(20) NOT NULL,
  `parent_id` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `website_category_parent_id_ec40ff72_fk_website_category_id` (`parent_id`),
  CONSTRAINT `website_category_parent_id_ec40ff72_fk_website_category_id` FOREIGN KEY (`parent_id`) REFERENCES `website_category` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=185 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `website_category`
--

LOCK TABLES `website_category` WRITE;
/*!40000 ALTER TABLE `website_category` DISABLE KEYS */;
/*!40000 ALTER TABLE `website_category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `website_customer`
--

DROP TABLE IF EXISTS `website_customer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `website_customer` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `logo` varchar(100) DEFAULT NULL,
  `email` varchar(255) NOT NULL,
  `phone` varchar(50) NOT NULL,
  `website` varchar(255) NOT NULL,
  `address` varchar(255) NOT NULL,
  `contact_person_name` varchar(255) NOT NULL,
  `contact_person_phone` varchar(50) NOT NULL,
  `created_date` datetime(6) NOT NULL,
  `update_date` datetime(6) NOT NULL,
  `type` varchar(10) NOT NULL,
  `user_id` int(11) NOT NULL,
  `account_type` varchar(10) NOT NULL,
  `membership_paid_date` date DEFAULT NULL,
  `membership_end_date` date DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  CONSTRAINT `website_customer_user_id_0b988af0_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=40 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `website_customer`
--

LOCK TABLES `website_customer` WRITE;
/*!40000 ALTER TABLE `website_customer` DISABLE KEYS */;
/*!40000 ALTER TABLE `website_customer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `website_customermembershippayment`
--

DROP TABLE IF EXISTS `website_customermembershippayment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `website_customermembershippayment` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `paid_date` date DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  `membership_type` varchar(10) NOT NULL,
  `created_date` datetime(6) NOT NULL,
  `update_date` datetime(6) NOT NULL,
  `customer_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `website_customermemb_customer_id_733528c3_fk_website_c` (`customer_id`),
  CONSTRAINT `website_customermemb_customer_id_733528c3_fk_website_c` FOREIGN KEY (`customer_id`) REFERENCES `website_customer` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `website_customermembershippayment`
--

LOCK TABLES `website_customermembershippayment` WRITE;
/*!40000 ALTER TABLE `website_customermembershippayment` DISABLE KEYS */;
INSERT INTO `website_customermembershippayment` VALUES (1,'2026-08-05','2026-08-29','silver','2026-08-05 01:36:45.912287','2026-08-05 01:36:45.912300',33);
/*!40000 ALTER TABLE `website_customermembershippayment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `website_footermenucontent`
--

DROP TABLE IF EXISTS `website_footermenucontent`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `website_footermenucontent` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `key` varchar(50) NOT NULL,
  `title` varchar(255) NOT NULL,
  `image` varchar(100) DEFAULT NULL,
  `content` longtext NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `created_date` datetime(6) NOT NULL,
  `update_date` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `key` (`key`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `website_footermenucontent`
--

LOCK TABLES `website_footermenucontent` WRITE;
/*!40000 ALTER TABLE `website_footermenucontent` DISABLE KEYS */;
/*!40000 ALTER TABLE `website_footermenucontent` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `website_partnerorganization`
--

DROP TABLE IF EXISTS `website_partnerorganization`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `website_partnerorganization` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `logo` varchar(100) NOT NULL,
  `link_url` varchar(500) NOT NULL,
  `sort_order` int(10) unsigned NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `created_date` datetime(6) NOT NULL,
  `update_date` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `website_partnerorganization`
--

LOCK TABLES `website_partnerorganization` WRITE;
/*!40000 ALTER TABLE `website_partnerorganization` DISABLE KEYS */;
INSERT INTO `website_partnerorganization` VALUES (1,'YUNA','partner_logos/yuna.png','',1,1,'2026-08-06 09:27:43.387765','2026-08-06 09:28:46.175601'),(2,'Helt end','partner_logos/╨Ñ╤ì╨╗╨┤_╤ì╨╜╤é.png','',2,1,'2026-08-06 09:29:35.279796','2026-08-06 09:29:37.633820'),(3,'POS EASY','partner_logos/posease-logo.jpg','',3,1,'2026-08-06 09:30:05.151712','2026-08-06 09:30:11.953413');
/*!40000 ALTER TABLE `website_partnerorganization` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `website_slide`
--

DROP TABLE IF EXISTS `website_slide`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `website_slide` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `partner_label` varchar(120) NOT NULL,
  `title` varchar(255) NOT NULL,
  `description` longtext NOT NULL,
  `image` varchar(100) NOT NULL,
  `link_url` varchar(500) NOT NULL,
  `sort_order` int(10) unsigned NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `created_date` datetime(6) NOT NULL,
  `update_date` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `website_slide`
--

LOCK TABLES `website_slide` WRITE;
/*!40000 ALTER TABLE `website_slide` DISABLE KEYS */;
/*!40000 ALTER TABLE `website_slide` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `website_software`
--

DROP TABLE IF EXISTS `website_software`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `website_software` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `development_start_year` smallint(5) unsigned NOT NULL,
  `description` longtext NOT NULL,
  `introduction` longtext NOT NULL,
  `price` decimal(14,2) NOT NULL,
  `price_type` varchar(10) NOT NULL,
  `created_date` datetime(6) NOT NULL,
  `update_date` datetime(6) NOT NULL,
  `created_by_id` int(11) NOT NULL,
  `developer_id` bigint(20) NOT NULL,
  `program_type_id` bigint(20) NOT NULL,
  `is_featured` tinyint(1) NOT NULL,
  `is_approved` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `website_software_created_by_id_7be061fd_fk_auth_user_id` (`created_by_id`),
  KEY `website_software_developer_id_b76900d8_fk_website_customer_id` (`developer_id`),
  KEY `website_software_program_type_id_cf3419b4_fk_website_category_id` (`program_type_id`),
  CONSTRAINT `website_software_created_by_id_7be061fd_fk_auth_user_id` FOREIGN KEY (`created_by_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `website_software_developer_id_b76900d8_fk_website_customer_id` FOREIGN KEY (`developer_id`) REFERENCES `website_customer` (`id`),
  CONSTRAINT `website_software_program_type_id_cf3419b4_fk_website_category_id` FOREIGN KEY (`program_type_id`) REFERENCES `website_category` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=102 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `website_software`
--

LOCK TABLES `website_software` WRITE;
/*!40000 ALTER TABLE `website_software` DISABLE KEYS */;
/*!40000 ALTER TABLE `website_software` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `website_software_advisory_sectors`
--

DROP TABLE IF EXISTS `website_software_advisory_sectors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `website_software_advisory_sectors` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `software_id` bigint(20) NOT NULL,
  `category_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `website_software_advisor_software_id_category_id_33278790_uniq` (`software_id`,`category_id`),
  KEY `website_software_adv_category_id_43f36982_fk_website_c` (`category_id`),
  CONSTRAINT `website_software_adv_category_id_43f36982_fk_website_c` FOREIGN KEY (`category_id`) REFERENCES `website_category` (`id`),
  CONSTRAINT `website_software_adv_software_id_81470cee_fk_website_s` FOREIGN KEY (`software_id`) REFERENCES `website_software` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=363 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `website_software_advisory_sectors`
--

LOCK TABLES `website_software_advisory_sectors` WRITE;
/*!40000 ALTER TABLE `website_software_advisory_sectors` DISABLE KEYS */;
/*!40000 ALTER TABLE `website_software_advisory_sectors` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `website_softwareimage`
--

DROP TABLE IF EXISTS `website_softwareimage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `website_softwareimage` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `image` varchar(100) NOT NULL,
  `sort_order` int(10) unsigned NOT NULL,
  `created_date` datetime(6) NOT NULL,
  `software_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `website_softwareimag_software_id_7cefe6c3_fk_website_s` (`software_id`),
  CONSTRAINT `website_softwareimag_software_id_7cefe6c3_fk_website_s` FOREIGN KEY (`software_id`) REFERENCES `website_software` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=124 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `website_softwareimage`
--

LOCK TABLES `website_softwareimage` WRITE;
/*!40000 ALTER TABLE `website_softwareimage` DISABLE KEYS */;
/*!40000 ALTER TABLE `website_softwareimage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `website_softwarerating`
--

DROP TABLE IF EXISTS `website_softwarerating`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `website_softwarerating` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `score` smallint(5) unsigned NOT NULL,
  `created_date` datetime(6) NOT NULL,
  `update_date` datetime(6) NOT NULL,
  `software_id` bigint(20) NOT NULL,
  `user_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_software_rating` (`software_id`,`user_id`),
  KEY `website_softwarerating_user_id_180bee04_fk_auth_user_id` (`user_id`),
  CONSTRAINT `website_softwarerati_software_id_ced6be38_fk_website_s` FOREIGN KEY (`software_id`) REFERENCES `website_software` (`id`),
  CONSTRAINT `website_softwarerating_user_id_180bee04_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `website_softwarerating`
--

LOCK TABLES `website_softwarerating` WRITE;
/*!40000 ALTER TABLE `website_softwarerating` DISABLE KEYS */;
INSERT INTO `website_softwarerating` VALUES (1,3,'2026-08-06 04:58:10.883941','2026-08-06 04:58:10.883957',101,5);
/*!40000 ALTER TABLE `website_softwarerating` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-18 13:58:51
